.neon-card {
  background: #111827;
  border: 2px solid #0dcaf0;
  border-radius: 10px;
  box-shadow: 0 0 10px #0dcaf0;
}

p{
  line-height: 1.6;
  font-size: 1.1rem;
  color: #d1d5db;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

