<section id="about" class="my-5 neon-card p-4">
  <h2 class="text-info mb-3">À propos</h2>
  <p>
  Étudiant en dernière année d’informatique, passionné par les technologies web modernes, je développe des applications performantes et élégantes en utilisant Angular, Node.js, Express et NestJS. Je maîtrise JavaScript et TypeScript grâce à ces frameworks et m’initie actuellement à Python, notamment pour créer des scripts et expérimenter avec Kali Linux.

Je possède également une solide expérience dans la gestion de bases de données relationnelles et non relationnelles, avec l’utilisation de MySQL via PHPMyAdmin/WampServer et de MongoDB avec Mongo Compass pour la gestion graphique des collections.

Par ailleurs, je suis à l’aise avec la virtualisation (VirtualBox, VMware) et la containerisation (Docker), ce qui me permet de déployer et tester mes applications dans des environnements isolés et reproductibles. J’ai également acquis des bases en administration Linux, tout en étant plus expérimenté sur Windows.

Je possède des notions en réseaux et en gestion de projet, avec une pratique de la méthodologie Agile, ce qui me permet de travailler efficacement en équipe sur des projets structurés.

Polyvalent et curieux, je combine des compétences en développement front-end et back-end, bases de données, administration système et scripting, afin de concevoir des solutions complètes, fiables et adaptées aux besoins des projets.
  </p>
</section>
